<h1>My repositories</h1>
<ul>
  <% @repositories.each do |repo| %>
    <li><p>repo id: <%= repo[:id] %></p></li>
    <li><p>repo name: <%= repo[:name] %></p></li>
    <li><p>repo url: <%= repo[:html_url] %></p></li><br/>
  <% end %>
</ul>
